In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd
data = pd.Series([4, 8, 15, 16, 23, 42])
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# Q3. Create a Pandas DataFrame that contains the following data.

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Chicago', 'San Diego'],
    'Salary': [70000, 80000, 90000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age       City  Salary
0    Alice   25   New York   70000
1      Bob   30    Chicago   80000
2  Charlie   35  San Diego   90000

In [5]:
# Q4. What is a ‘DataFrame’ in Pandas and how is it different from Pandas Series? Explain with an example. 

# A DataFrame is a 2-dimensional labeled data structure in pandas, similar to a table in a database or a spreadsheet in Excel.

# Differences:
# Dimensionality: Series is 1D, while DataFrame is 2D.
# Structure: A DataFrame can hold multiple columns (each a Series), while a Series has only one column of data.
# Use Case: Series is used for a single column of data, while DataFrame is for tabular data.

# Example
series_example = pd.Series([10, 20, 30], name="Example Series")
print("Series Example:", series_example)

data = {
    'Column1': [10, 20, 30],
    'Column2': [40, 50, 60]
}
df_example = pd.DataFrame(data)
print("\nDataFrame Example:")
print(df_example)

Series Example: 0    10
1    20
2    30
Name: Example Series, dtype: int64

DataFrame Example:
   Column1  Column2
0       10       40
1       20       50
2       30       60

In [6]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

# Common Pandas Functions:
# head() and tail(): View the first or last rows of the DataFrame.
# describe(): Summarize statistics of numeric columns.
# drop(): Remove rows/columns.
# loc[] and iloc[]: Access data by label or index.
# groupby(): Group data for aggregation.
# fillna() and dropna(): Handle missing values.
# apply(): Apply a function to each element or row.
                     
# Example: Suppose we want to filter and sort employees with a salary greater than 75,000.

filtered = df[df['Salary'] > 75000].sort_values(by='Salary', ascending=False)
print(filtered)

      Name  Age       City  Salary
2  Charlie   35  San Diego   90000
1      Bob   30    Chicago   80000

In [ ]:
Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?
Series: Mutable
DataFrame: Mutable
Panel: Mutable

In [8]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'Chicago', 'San Diego'])

data = {
    'Name': name_series,
    'Age': age_series,
    'City': city_series
}

df_from_series = pd.DataFrame(data)
print(df_from_series)

      Name  Age       City
0    Alice   25   New York
1      Bob   30    Chicago
2  Charlie   35  San Diego